section {
  padding: 20px;
}

.message-block {
  margin-bottom: 10px;
}

.message-block .odd {
  background-color: lightgrey;
}

.message-block .even {
  background-color: #b5ff7e;
}

#message-container {
  overflow-y: auto;
  padding: 10px;
}
